

.table-name {
  padding-top: 10vh;
  font-size: 30px;
}

.table-item {
  width: 100vw;
  height: 10vh;
  font-size: 20px;
  text-align: center;
}

th {
  border: 1px solid rgb(190, 190, 190);
  padding: 8px;
}
td {
  text-align: center;
  font-size: 15px;
}

th[scope="col"] {
  background-color: #696969;
  color: #fff;

}

td[scope="row"] {
  background-color: #d7d9f2;
  font-weight: bold;
  font-size: 20px;
}

.instructions {
  font-size: 18px;
}

.btn--yellow,
a.btn--yellow {
  color:black;
  background-color: yellow;
}

.btn--yellow:hover,
a.btn--yellow:hover {
  color: black;
  background: yellow;
}

.btn--blue,
a.btn--blue {
  color: white;
  background-color: blue;
}

.btn--blue:hover,
a.btn--blue:hover {
  color: white;
  background: blue;
}

.btn--green,
a.btn--green {
  color: white;
  background-color:green;
}

.btn--green:hover,
a.btn--green:hover {
  color: white;
  background: green;
}

.btn--skyblue,
a.btn--skyblue {
  color: white;
  background-color: skyblue;
}

.btn--skyblue:hover,
a.btn--skyblue:hover {
  color: white;
  background: skyblue;
}

input[type="number"] {
  width: 100px;
  height: 40px;
}

.btn--gray,
a.btn--gray {
  color: white;
  background-color: gray;
}

.btn--gray:hover,
a.btn--gray:hover {
  color: white;
  background: gray;
}

.btn--red,
a.btn--red {
  color: white;
  background-color: red;
}

.btn--red:hover,
a.btn--red:hover {
  color: white;
  background: red;
}