<body>
  <main>
    <div class="content">
      <div class="top-message">
          <div class="display-1">
            セイバーメトリクスとは
          </div>
          <div class="explanation">
            野球を数字でデータ分析し、統計学的根拠を加えて選手の評価・戦略などを考える手法である
          </div>
      </div>

      <div class="player-box">
        <div class="box-1">
          <%= link_to batters_path do %>
            <div class="display-2">
              打者成績
            </div>
            <div class="square-2"></div>
          <% end %>
        </div>
        <div class="box-2"> 
          <%= link_to pitchers_path do %>
            <div class="display-2">
              投手成績
            </div>
            <div class="square-2"></div>
          <% end %>
        </div>
      </div> 

      <div class="box-3"> 
        <%= link_to teams_path do %> 
          <div class="display-3">
            チーム成績
          </div>
          <div class="square-3"></div>
        <% end %>
      </div>
          
    </div>
  </main>
</body>


